<!DOCTYPE html>
<html>
	<head>
	<title>FeedMe! by Hungry Bunch</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<link rel="stylesheet" type="text/css" href="styles/styles.css" />


	<!-- The Templates -->
    <script type="text/template" id="restaurants">

        <div data-role="header">
            <h1>Restaurants</h1>
        </div>

		<div class='content' data-role='content'> 
			<ul data-role="listview" data-inset="true" data-filter="false">
            <% var index; %>
            <% for ( index in restaurants){ %>
				<li><a href="#/menus/<%= restaurants[index].id %>"><%= restaurants[index].name %></a></li>
             <% } %>
			</ul>
        </div>
        
    </script>

    <script type="text/template" id="menu">

        <div data-role="header">
            <a href="#" data-icon="back" class="back ui-btn-left" data-direction="reverse" data-back="true">Back</a>
            <h1>Menu for <%= restaurant.name %> (#<%= restaurant.id %>)</h1>
        </div>

        <div data-role="content">
            <p>Meals for chosen restaurant:</p>
            <ul data-role="listview" data-inset="true">
            <% for (var index = 0; index < restaurant.meals.length; index++){ %>
                <li><%= restaurant.meals[index] %></li>
             <% } %>
            </ul>
        </div>
        <div class="footer" data-role="footer">		
			<div data-role="navbar">
				<ul>
					<li><a href="#favorites">Favorites</a></li>
					<li><a href="#menu">Menus</a></li>
					<li><a href="#" class="ui-btn-active">Restaurants</a></li>
				</ul>
			</div><!-- /navbar -->
		</div><!-- /footer -->

    </script>


	<!-- Scripts -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<!-- JQuery Mobile configuration, needs to be here before including jquery mobile script -->
	<script type="text/javascript">
		$(document).bind("mobileinit", function () {
		    $.mobile.ajaxEnabled = false;
		    $.mobile.linkBindingEnabled = false;
		    $.mobile.hashListeningEnabled = false;
		    $.mobile.pushStateEnabled = false;

		    // Remove page from DOM when it's being replaced
		    $('div[data-role="page"]').live('pagehide', function (event, ui) {
		        $(event.currentTarget).remove();
		    });
		});
	</script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
<!--    <script type="text/javascript" src="scripts/lib/handlebars-1.0.0.beta.6.js"></script> -->
    <script type="text/javascript" src="scripts/lib/underscore.js"></script>
    <script type="text/javascript" src="scripts/lib/json2.js"></script>
    <script type="text/javascript" src="scripts/lib/backbone.js"></script>
    <script type="text/javascript" src="scripts/lib/backbone.localStorage.js"></script>
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<script type="text/javascript" src="scripts/lscache.js"></script>

	<script>
		//(function() {

			var restaurants = {
				1: { id : 1, name : 'Taffa', meals : ['Meal A for #1', 'Meal B for #1']},
				2: { id : 2, name : 'Teekkariravintolat', meals : ['Meal A for #2', 'Meal B for #2']},
				3: { id : 3, name : 'Kvarkki', meals : ['Meal A for #3', 'Meal B for #3']},
				4: { id : 4, name : 'Cantina', meals : ['Meal A for #4', 'Meal B for #4']},
				5: { id : 5, name : 'TUAS', meals : ['Meal A for #5', 'Meal B for #5']},
			}
			var fixgeometry = function() {
			  scroll(0, 0);

			  /* Calculate the geometry that our content area should take */
			  var header = $(".header:visible");
			  var footer = $(".footer:visible");
			  var content = $(".content:visible");
			  var viewport_height = $(window).height();
			  
			  var content_height = viewport_height - header.outerHeight() - footer.outerHeight();
			  
			  /* Trim margin/border/padding height */
			  content_height -= (content.outerHeight() - content.height());
			  content.height(content_height);
			}; /* fixgeometry */

			window.RestaurantsView = Backbone.View.extend({

			    template:_.template($('#restaurants').html()),

			    render:function (eventName) {
			    	
			        $(this.el).html(this.template({'restaurants': restaurants}));
			        return this;
			    }
			});

			window.MenuView = Backbone.View.extend({
			    template:_.template($('#menu').html()),
			    render:function (eventName) {
			    	// Here we get the selected restaurant id and can select data for template accordingly
			    	var restaurantId = this.options.restaurantId;
			    	
			    	//var output = _.template($('#menu').html(), {restaurant: restaurants[restaurantId]});
			        //$(this.el).html(output);

			        $(this.el).html(this.template({'restaurant': restaurants[restaurantId]}));
			        return this;
			    }
			});

			var AppRouter = Backbone.Router.extend({

			    routes:{
			        "":"restaurants",
			        "/menus/:id":"menu"
			    },

			    initialize:function () {
			    	// Define sliding direction
			    	this.goReverse = false;

			    	var router = this;
			        // Handle back button throughout the application
			        $('.back').live('click', function(event) {
			            window.history.back();
			            router.goReverse = true;
			            return false;
			        });

			        this.firstPage = true;
			    },

			    restaurants:function () {
			        
			        this.changePage(new RestaurantsView());
			    },

			    menu:function (id) {
			        
			        this.changePage(new MenuView({restaurantId:id}));
			    },

			    changePage:function (page) {
			    	
			        $(page.el).attr('data-role', 'page');
			        page.render();
			        $('body').append($(page.el));
			        var transition = $.mobile.defaultPageTransition;
			        // We don't want to slide the first page
			        if (this.firstPage) {
			            transition = 'none';
			            this.firstPage = false;
			            console.log("firstPage");
			        }
			        console.log(this.goReverse);
			        var reverse = false;
			        if( this.goReverse ) {
			        	reverse = true;
			        	this.goReverse = false;
			        }
			        
			        $.mobile.changePage($(page.el), {changeHash:false, transition: transition, reverse: reverse});
			    }

			});

			$(document).ready(function () {
				//$(window).bind("orientationchange resize pageshow", fixgeometry);

			    app = new AppRouter();
			    Backbone.history.start();
			});




		//})();
	</script>

</head>
<body>

</body>
</html>