.content, .ui-content {
	margin-bottom: 50px !important; /* To make sure page bottom content wont be hidden behind navigation */
}
.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 1000;
}
#map_content {
	padding: 0;
	overflow: auto;
}
#staticMap {
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	border-radius: .6em;
	width: 100%;
}