<div data-role="header">
    <a href="{{prevRestaurantUrl}}" data-icon="arrow-l" class="arrow-l ui-btn-left" data-direction="reverse" data-back="true">Previous</a>
    <h1>Menu for {{restaurant.name}} (#{{restaurant.id}})</h1>
    <a href="{{nextRestaurantUrl}}" data-icon="arrow-r" class="arrow-r ui-btn-right">Next</a>
</div>

<div data-role="content">
    <p>Meals for chosen restaurant:</p>
    <ul data-role="listview" data-inset="true">
    {{#with restaurant}}
    {{#each menu}}
		<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b">{{day}}</li>
		{{#each meal}}
			<li>{{this}}</li>
		{{/each}}
    {{/each}}
    {{/with}}
    </ul>
</div>
