		<ul data-role="listview" data-divider-theme="b" data-inset="true" class="ui-listview">
		{{#menu}}
			{{#monday}}
				<li data-role="list-divider" role="heading">Monday</li>
				{{#each meal}}
					<li role="heading" data-theme="c" class="ui-li ui-btn ui-bar-b">{{this}}</li>
				{{/each}}
			{{/monday}}
			
			{{#tuesday}}
				<li data-role="list-divider" role="heading">Tuesday</li>
				{{#each meal}}
					<li role="heading" data-theme="c" class="ui-li ui-btn ui-bar-b">{{this}}</li>
				{{/each}}
			{{/tuesday}}
			
			{{#wednesday}}
				<li data-role="list-divider" role="heading">Wednesday</li>
				{{#each meal}}
					<li role="heading" data-theme="c" class="ui-li ui-btn ui-bar-b">{{this}}</li>
				{{/each}}
			{{/wednesday}}
			
			{{#thursday}}
				<li data-role="list-divider" role="heading">Thursday</li>
				{{#each meal}}
					<li role="heading" data-theme="c" class="ui-li ui-btn ui-bar-b">{{this}}</li>
				{{/each}}
			{{/thursday}}
			
			{{#friday}}
				<li data-role="list-divider" role="heading">Friday</li>
				{{#each meal}}
					<li role="heading" data-theme="c" class="ui-li ui-btn ui-bar-b">{{this}}</li>
				{{/each}}
			{{/friday}}
			
			{{#saturday}}
				<li data-role="list-divider" role="heading">Saturday</li>
				{{#each meal}}
					<li role="heading" data-theme="c" class="ui-li ui-btn ui-bar-b">{{this}}</li>
				{{/each}}
			{{/saturday}}
			
			{{#sunday}}
				<li data-role="list-divider" role="heading">Sunday</li>
				{{#each meal}}
					<li role="heading" data-theme="c" class="ui-li ui-btn ui-bar-b">{{this}}</li>
				{{/each}}
			{{/sunday}}
			
		{{/menu}}
		</ul>